@page "/galleria"
@inject HttpClient http;

<PageTitle>Galleria</PageTitle>

<section class="p-3 pt-5 d-flex justify-content-center flex-column">
    <h1 class="text-center text-uppercase display-1 text-break">Galleria</h1>

    <div class="d-none d-md-flex flex-row pt-4 justify-content-center gap-4">
        <button class="btn btn-primary text-uppercase">Più popolari</button>
        <button class="btn btn-primary text-uppercase">Più recenti</button>
        <button class="btn btn-primary text-uppercase">Alfabetico</button>
        <button class="btn btn-primary text-uppercase">Meno recenti</button>
    </div>

    <div class="container-fluid d-md-none pt-4">
        <div class="row g-1">
            <div class="col-6 col-sm-3 d-flex justify-content-center">
                <button class="btn btn-primary text-uppercase text-break">Più popolari</button>
            </div>
            <div class="col-6 col-sm-3 d-flex justify-content-center">
                <button class="btn btn-primary text-uppercase text-break">Più recenti</button>
            </div>
            <div class="col-6 col-sm-3 d-flex justify-content-center">
                <button class="btn btn-primary text-uppercase text-break">Alfabetico</button>
            </div>
            <div class="col-6 col-sm-3 d-flex justify-content-center">
                <button class="btn btn-primary text-uppercase text-break">Meno recenti</button>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4">
        <div class="row">
            @if(ElencoOpere is not null) 
            {
                @foreach (Opera op in ElencoOpere)
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-4 d-flex d-md-block justify-content-center">
                        <Card
                            ID=@op.IDOpera
                            Descrizione=@op.Descrizione
                            Anno=@op.Anno></Card>
                    </div>
                }
            }
        </div>
    </div>
</section>

@code {
    private Opera[]? ElencoOpere;
    protected override async Task OnInitializedAsync()
    {
        ElencoOpere = await http.GetFromJsonAsync<Opera[]>("/api/opere");
    }
}