@page "/"
@layout NoBandsLayout

<div class="position-absolute">
    <NavLink href="auth">
        <button class="p-3"><i class="bi bi-person-circle"></i> LOG IN</button>
    </NavLink>
</div>
<section class="d-flex justify-content-md-center align-items-center h-100 flex-column">
    <h1>Astazor Casa d'Aste</h1>
    <h3 class="text-muted">Compravendita delle opere di Alberto Timossi</h3>
    
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 col-lg text-md-end">
                <NavLink href="galleria">
                    <FancyButton Text="Galleria"></FancyButton>
                </NavLink>
            </div>
            <div class="col-12 col-lg text-md-center">
                <NavLink>
                    <FancyButton Text="Aste"></FancyButton>
                </NavLink>
            </div>
            <div class="col-12 col-lg text-md-start">
                <NavLink href="galleria">
                    <FancyButton Text="L'artista"></FancyButton>
                </NavLink>
            </div>
        </div>
    </div>
</section>