<!-- Footer-->
<footer class="p-5">
    <div class="container">
        <p class="m-0 text-center">
            <span>Copyright &copy; Timossi Casa d'Aste 5F;</span> <br>
            <span><span class="fw-bold">Template rivisitato da</span>: Magi Nicholas, Pasini Luca</span><br>
            <br>
            <a class="text-uppercase" href="chi-siamo">- ABOUT US - </a>
        </p>
    </div>
</footer>