/* _content/blazor_aste/Componenti/Card.razor.rz.scp.css */
:root[b-h0p5r9qe82] {
    --card-width: 300px;
}

img[b-h0p5r9qe82] {
    width: var(--card-width);
    height: 300px;
    object-fit: cover;
}

.card-body[b-h0p5r9qe82] {
    width: var(--card-width);
}

h5[b-h0p5r9qe82], h6[b-h0p5r9qe82] {
    font-family: 'Inter', sans-serif !important;
}

.card-body > a[b-h0p5r9qe82] {
    color: #AE1316 !important;
}
/* _content/blazor_aste/Componenti/FancyButton.razor.rz.scp.css */
.btn[b-s2xfhms23j] {
    background-color: white;
    color: #7f090b;
    border-color: #7f090b !important;
    border-width: 2.5px !important;
    border-radius: 1;

    width: 11em;
    height: 3.5em;
}

.btn:focus[b-s2xfhms23j] {
    background-color: #7f090b;
    color: white;
}

.btn:focus-visible[b-s2xfhms23j], .btn:focus[b-s2xfhms23j] {
    box-shadow: 0 0 0 0.25rem transparent;
}
/* _content/blazor_aste/Componenti/Hero.razor.rz.scp.css */
.wrapper[b-129tei56hk] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner[b-129tei56hk] {
    max-height: 75vh;
}

.heading[b-129tei56hk] {
    position: absolute;
    text-align: center;
    color: var(--txt-color);
    z-index: 10;
}

.heading > h1[b-129tei56hk] {
    font-size: 4rem;
}

.heading > h4[b-129tei56hk] {
    font-size: 1.5rem;
}

.carousel-item[b-129tei56hk] {
    max-height: inherit;
}

div.position-absolute[b-129tei56hk] {
    z-index: 100 !important;
}

img[b-129tei56hk] {
    filter: brightness(40%);
}
/* _content/blazor_aste/Componenti/SignInForm.razor.rz.scp.css */
h3[b-bom0n8dm1e] {
    font-size: 1.25em;
    font-family: 'Inter';
    margin-bottom: -10px;
}
/* _content/blazor_aste/Componenti/SignUpForm.razor.rz.scp.css */
h3[b-zofda241ko] {
    font-size: 1.25em;
    font-family: 'Inter';
}
/* _content/blazor_aste/Pages/AuthForms.razor.rz.scp.css */
/* _content/blazor_aste/Pages/Catalogo.razor.rz.scp.css */
h1[b-hlvvdn5quc] {
    letter-spacing: 5px;
}

.btn[b-hlvvdn5quc] {
    background-color: white;
    color: #7f090b;
    border-color: #7f090b !important;
    border-width: 2.5px !important;
    border-radius: 1;

    width: 11em;
    height: 3.5em;
}

.btn:focus[b-hlvvdn5quc] {
    background-color: #7f090b;
    color: white;
}

.btn:focus-visible[b-hlvvdn5quc], .btn:focus[b-hlvvdn5quc] {
    box-shadow: 0 0 0 0.25rem transparent;
}
/* _content/blazor_aste/Pages/Dettaglio.razor.rz.scp.css */
img[b-j7bbq2ppgb] {
    height: 30em;
    width: 100%;

    object-fit: scale-down;
}

.btn[b-j7bbq2ppgb] {
    background-color: white;
    color: #7f090b;
    border-color: #7f090b !important;
    border-width: 2.5px !important;
    border-radius: 1;

    width: 3.5em;
    height: 2.5em;
}

.btn:focus[b-j7bbq2ppgb] {
    background-color: #7f090b;
    color: white;
}

.btn:focus-visible[b-j7bbq2ppgb], .btn:focus[b-j7bbq2ppgb] {
    box-shadow: 0 0 0 0.25rem transparent;
}
/* _content/blazor_aste/Pages/Index.razor.rz.scp.css */
h1[b-c9sry1q0u1] {
    font-size: 5em;
}

h3[b-c9sry1q0u1] {
    font-family: 'Inter';
    font-size: 1.75em;
}

div.position-absolute[b-c9sry1q0u1] {
    right: 20px;
    top: 20px;
}

button[b-c9sry1q0u1] {
    background: none;
    border: 3px solid;
    border-color: rgba(127, 9, 11, 1);
    border-radius: 25px;
    color: rgba(127, 9, 11, 1);
}
  
button:hover[b-c9sry1q0u1] {
    background: rgba(127, 9, 11, 1);
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* _content/blazor_aste/Shared/CustomLayout.razor.rz.scp.css */
main[b-1vlgawqulp] {
    min-height: auto;
}
/* _content/blazor_aste/Shared/CustomNavMenu.razor.rz.scp.css */
@font-face {
    font-family: "Sovana";
    src: url('../sovana-regular.ttf');
}

nav[b-l2tvvy4iyw] {
    --nav-accent-clr: #AE1316;
    flex-shrink: 0 !important; 
    background-color: white;
    border-bottom: 2.5px solid var(--nav-accent-clr); 
}

.navbar-brand[b-l2tvvy4iyw] { font-family: 'Sovana';}
.navbar .navbar-nav .nav-link[b-l2tvvy4iyw], .navbar-brand[b-l2tvvy4iyw] { color: var(--nav-accent-clr); }
.navbar .navbar-nav .nav-link:hover[b-l2tvvy4iyw] { color: var(--nav-accent-clr); }
.navbar .navbar-nav .active > .nav-link[b-l2tvvy4iyw] { color: var(--nav-accent-clr); }

.navbar-toggler[b-l2tvvy4iyw] {
    background-color: #7f090b;
}

.navbar-toggler:focus[b-l2tvvy4iyw] {
    box-shadow: 0 0 0 #7f090b;
}

.navbar-toggler-icon[b-l2tvvy4iyw] {
    filter: invert(100%);
}

.btn[b-l2tvvy4iyw], .btn:focus[b-l2tvvy4iyw] {
    background-color: #7f090b;
    border: 0 !important;
}

.btn:focus-visible[b-l2tvvy4iyw], .btn:focus[b-l2tvvy4iyw] {
    box-shadow: 0 0 0 0.25rem #893838;
}
/* _content/blazor_aste/Shared/Footer.razor.rz.scp.css */
footer[b-jy06b3phwd] {
    --credits-color: gainsboro;
    margin-top: auto;
    background-color: #AE1316; 
}

a[b-jy06b3phwd], p[b-jy06b3phwd], span[b-jy06b3phwd] {
    text-decoration: none;
    color: gainsboro;
}

footer a:hover[b-jy06b3phwd] { color: #EDEBE6 !important; text-decoration: none; }
/* _content/blazor_aste/Shared/MainLayout.razor.rz.scp.css */
.page[b-zqeclat71e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zqeclat71e] {
    flex: 1;
}

.sidebar[b-zqeclat71e] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zqeclat71e] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zqeclat71e]  a, .top-row .btn-link[b-zqeclat71e] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-zqeclat71e] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-zqeclat71e] {
        display: none;
    }

    .top-row.auth[b-zqeclat71e] {
        justify-content: space-between;
    }

    .top-row a[b-zqeclat71e], .top-row .btn-link[b-zqeclat71e] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zqeclat71e] {
        flex-direction: row;
    }

    .sidebar[b-zqeclat71e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zqeclat71e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-zqeclat71e], article[b-zqeclat71e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/blazor_aste/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-aemc28n3si] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-aemc28n3si] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-aemc28n3si] {
    font-size: 1.1rem;
}
 
.oi[b-aemc28n3si] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-aemc28n3si] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-aemc28n3si] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-aemc28n3si] {
        padding-bottom: 1rem;
    }

    .nav-item[b-aemc28n3si]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-aemc28n3si]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-aemc28n3si]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-aemc28n3si] {
        display: none;
    }

    .collapse[b-aemc28n3si] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-aemc28n3si] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
