img[b-p8im5dpbtg] {
    height: 30em;
    width: 100%;

    object-fit: scale-down;
}

.btn[b-p8im5dpbtg] {
    background-color: white;
    color: #7f090b;
    border-color: #7f090b !important;
    border-width: 2.5px !important;
    border-radius: 1;

    width: 3.5em;
    height: 2.5em;
}

.btn:focus[b-p8im5dpbtg] {
    background-color: #7f090b;
    color: white;
}

.btn:focus-visible[b-p8im5dpbtg], .btn:focus[b-p8im5dpbtg] {
    box-shadow: 0 0 0 0.25rem transparent;
}