h1[b-82c7kyd0u0] {
    letter-spacing: 5px;
}

.btn[b-82c7kyd0u0] {
    background-color: white;
    color: #7f090b;
    border-color: #7f090b !important;
    border-width: 2.5px !important;
    border-radius: 1;

    width: 11em;
    height: 3.5em;
}

.btn:focus[b-82c7kyd0u0] {
    background-color: #7f090b;
    color: white;
}

.btn:focus-visible[b-82c7kyd0u0], .btn:focus[b-82c7kyd0u0] {
    box-shadow: 0 0 0 0.25rem transparent;
}