:root[b-emy2q0sa6u] {
    --card-width: 300px;
}

img[b-emy2q0sa6u] {
    width: var(--card-width);
    height: 300px;
    object-fit: cover;
}

.card-body[b-emy2q0sa6u] {
    width: var(--card-width);
}

h5[b-emy2q0sa6u], h6[b-emy2q0sa6u] {
    font-family: 'Inter', sans-serif !important;
}

.card-body > a[b-emy2q0sa6u] {
    color: #AE1316 !important;
}