:root[b-oevx636g3o] {
    --card-width: 300px;
}

img[b-oevx636g3o] {
    width: var(--card-width);
    height: 300px;
    object-fit: cover;
}

.card-body[b-oevx636g3o] {
    width: var(--card-width);
}

h5[b-oevx636g3o], h6[b-oevx636g3o] {
    font-family: 'Inter', sans-serif !important;
}

.card-body > a[b-oevx636g3o] {
    color: #AE1316 !important;
}